In [20]:
import numpy as np
import pandas as pd
import os.path

In [18]:
directory = "D:/Files/2019 Spring/High P Com/Project/trace_201708/trace_201708/"

### server_usage.csv 
timestamp <br> 
machineID <br>
util:CPU <br>
util:memory <br>
util:disk <br>
load1: linux cpu load average of 1 minute <br>
load5: linux cpu load average of 5 minute <br>
load15: linux cpu load average of 15 minute <br>

In [21]:
filename = os.path.join(directory, 'server_usage.csv')
su = pd.read_csv(filename)
su.head()

,timestamp,machineID,util:CPU,util:memory,util:disk,load1,load5,load15
0,41700,237,23.38,30.080000,42.200001,15.82,13.860000,12.64
1,39600,265,26.36,29.540000,57.599998,17.46,18.900000,16.70
2,42600,770,49.14,60.099999,41.860001,33.20,31.220000,30.52
3,40800,776,33.24,47.520000,43.599998,21.84,22.100000,24.02
4,42900,393,45.72,58.720000,42.000000,34.10,36.239999,36.92

### server_event.csv
timestamp <br>
machineID <br>
event type <br>
event detail <br>
capacity:CPU <br>
capacity:memory <br>
capacity:disk <br>

In [22]:
filename = os.path.join(directory, 'server_event.csv')
se = pd.read_csv(filename)
se.head()

,timestamp,machineID,event type,event detail,capacity:CPU,capacity:memory,capacity:disk
0,0,1148,add,NaN,64,0.690006,1.0
1,0,1149,add,NaN,64,0.690006,1.0
2,0,1150,add,NaN,64,0.690006,1.0
3,0,1,add,NaN,64,0.689970,1.0
4,0,2,add,NaN,64,0.689970,1.0

### container_event.csv
ts: timestamp of event <br>
event: event type includes: Create and Remove <br>
instance_id: online instance id <br>
machine_id <br>
plan_cpu: cpu number requested <br>
plan_mem: normalized memory requested <br>
plan_disk: normalized disk space requested <br>
cpuset: assigned cpuset by online scheduler, cpus delimited by '|' <br>

In [23]:
filename = os.path.join(directory, 'container_event.csv')
ce = pd.read_csv(filename)
ce.head()

,ts,event,instance_id,machine_id,plan_cpu,plan_mem,plan_disk,cpuset
0,0,Create,10000,934,4,0.042409,0.034085,40|41|42|43
1,0,Create,1000,1295,8,0.084819,0.056809,56|57|58|59|60|61|62|63
2,0,Create,10001,668,8,0.084819,0.056809,24|25|26|27|28|29|30|31
3,0,Create,10002,1217,8,0.084819,0.056809,4|5|6|7|8|9|10|11
4,0,Create,10003,1019,4,0.042409,0.034085,36|37|38|39

### container_usage.csv
ts: start time of measurement interval <br> 
instance_id: online instance id <br>
cpu_util: used percent of requested cpus <br>
mem_util: used percent of requested memory <br>
disk_util: used percent of requested disk space <br>
load1 <br>
load5 <br>
load15 <br>
avg_cpi, average cycles per instructions <br>
avg_mpki: average last-level cache misses per 1000 instructions <br>
max_cpi: maximum CPI <br>
max_mpki: maximum MPKI <br>

In [24]:
filename = os.path.join(directory, 'container_usage.csv')
cu = pd.read_csv(filename)
cu.head()

,ts,instance_id,cpu_util,mem_util,disk_util,load1,load5,load15,avg_cpi,avg_mpki,max_cpi,max_mpki
0,42900,106,42.84,65.52,17.14,3.14,3.40,3.66,0.064628,0.034337,0.726102,0.457576
1,42600,107,3.30,24.00,5.20,0.54,0.38,0.30,0.155430,0.550153,2.211467,12.187318
2,42300,108,3.14,25.60,10.60,0.08,0.14,0.20,0.199342,0.294852,2.633724,3.997216
3,42000,109,3.82,42.00,13.90,0.10,0.16,0.20,0.238470,0.292426,2.203077,2.942878
4,41700,110,5.82,24.90,7.40,0.74,0.62,0.60,0.136100,0.161496,1.622428,2.469633

### batch_task.csv
create_timestamp: the create time of a task <br>
modify_timestamp: latest state modification time <br>
job_id <br>
task_id <br>
instance_num: number of instances for the task <br>
status: Task states includes Ready | Waiting | Running | Terminated | Failed | Cancelled <br>
plan_cpu: cpu requested for each instane of the task <br>
plan_mem: normalized memory requested for each instance of the task <br>

In [29]:
filename = os.path.join(directory, 'batch_task.csv')
bt = pd.read_csv(filename)
bt.head()

,create_timestamp,modify_timestamp,job_id,task_id,instance_num,status,plan_cpu,plan_mem
0,6459,6524,3,4,15740,Terminated,50.0,0.007957
1,6457,6533,3,5,1,Terminated,50.0,0.004395
2,6036,6046,4,7,393,Waiting,NaN,NaN
3,6036,6046,4,6,452,Waiting,NaN,NaN
4,10719,11332,15,67,1705,Terminated,50.0,0.005736

### batch_instance.csv
start_timestamp: instance start time if the instance is started <br>
end_timestamp: instance end time if the instance ended <br>
job_id <br>
task_id <br>
machineID: the host machine running the instance <br>
status: Instance states includes Ready | Waiting | Running | Terminated | Failed | Cancelled | Interupted <br>
seq_no: running trials number, starts from 1 and increase by 1 for each retry <br>
total_seq_no: total number of retries <br>
real_cpu_max: maximum cpu numbers of actual instance running <br>
real_cpu_avg: average cpu numbers of actual instance running <br>
real_mem_max: maximum normalized memory of actual instance running <br>
real_mem_avg: average normalized memory of actual instance running <br>

In [36]:
filename = os.path.join(directory, 'batch_instance.csv')
bi = pd.read_csv(filename)
bi.head()

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.